*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%
}

.logo{
    width: 130px;
    margin-left: 90px;
    margin-top: 15px;
}

.logo1 {
    width: 180px;
    height: 100%;
    margin-inline: 84%;
    margin-top: -14%;
}

header{
    margin-top: -12%;
    margin-left: 260px;
    width: 70%;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: px;
}

header p{
    width: 90%;
    letter-spacing: 1px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav-link{
    width: 100%;
    height: 8vh;
    display:flex;
    justify-content: space-around;
    text-align: center;
    background-color:rgb(43, 156, 231);
    font-family: 'Poppins', sans-serif;
    /* box-shadow: 0 2px 12px 0 rgba(0,0,0,.3) */
}

.nav-link a {
   color:white;
   cursor:pointer;
  
}
.nav-link li::after{
    content: "";
    display: block;
    background-color: pink;
    height: 2px;
    width: 0%
}

.nav-link li:hover::after{
    width: 100%;
} 

.container {
    background-color:rgb(222, 228, 233);
    margin-top: -15px;
    height: 140px;
    
}

.carousel-slite{
    padding: 30px 40px;
    margin:120px;
    margin-top: -40px;

}

.page {
    margin-top: -140px;
    text-align: center;
    color: rgb(235, 0, 0);
}

