*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    cursor: pointer;
 
 }
 body{
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(to right,rgb(0,140,255),white);
 }
 form{
     width: 25rem;
     height: 37rem;
     display: flex;
     flex-direction: column;
     background: rgba(255,255,255,0.06);
     box-shadow: 0 8px 32px 0 rgb(31,38,135,.37);
     border-radius: 15px;
     border-left: 1px solid rgba(255,255,255,.3);
     border-top: 2px solid rgba(255, 255, 255,.3);
 }
 h1{
     font-size: 40px;
     text-align: center;
     color: rgb(255, 255, 255);
     text-shadow: 2px 2px 4px rgba(0,0,0,.5);
 }
 lable{
     font-size: 18px;
     margin-left: 10%;
     text-shadow: 2px 2px 4px rgb(0, 0, 0,.5);
     color: rgb(27, 5, 5);
 }
 input{
     width: 80%;
     margin: 5% auto;
     margin-bottom: 5%;
     border: none;
     outline: none;
     background: transparent;
     color: rgb(255, 255, 255);
     border-bottom: 2px solid rgba(255, 255, 255, 0.4);
 }
 button{
     width: 50%;
     margin: 5% auto;
     color:rgb(255, 255, 255);
     font-size: 25px;
     background: rgba(255, 255, 255, 0.06);
     padding: 7px 15px;
     border: none;
     outline: none;
     border-radius: 10px;
     box-shadow: 0 8px 32px 0 rgba(31,38,135,37);
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
     background-color: rgb(255, 0, 0);
 }
 #Gender{
     width: 80%;
     margin: 5% auto;
     border: none;
     outline: none;
     background: transparent;
     color: rgb(255, 255, 255);
     border-bottom: 1px solid rgba(255, 255, 255,.4);
     border-left: 1px solid rgba(255,255,255,.3);
     background-color:rgb(134, 205, 238);
 }
 
 